VITE_API_BASE=http://127.0.0.1:8080
VITE_APP_MODE=demo
VITE_USE_MOCK=false
VITE_CLIENT_TYPE=h5
VITE_ENABLE_WECHAT_LOGIN=false
VITE_ENABLE_WECHAT_PAY=false
VITE_ENABLE_DEMO_LOGIN=true
VITE_DEMO_LOGIN_PHONE=13800000001
VITE_DEMO_LOGIN_CODE=1234
VITE_DEMO_PAY_METHOD=mock
VITE_TENCENT_MAP_KEY=your_tencent_map_key
